          
name: mysql
on: 
  push: 

jobs:
  release:
    runs-on: [ubuntu-latest]
    services:
      mysql:
        image: mysql:5.7
        env:
            MYSQL_ALLOW_EMPTY_PASSWORD: yes
            MYSQL_DATABASE: laravel_tags
        ports:
            - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3 
        
    steps:
      - uses: actions/checkout@v1
      - run: |
          echo -e "[mysqld]\nsecure-file-priv=''" | sudo tee -a /etc/mysql/my.cnf
          sudo cp /home/runner/work/PRTest/PRTest/mysqlconf/config-file.cnf /etc/mysql/conf.d/config-file.cnf
          cat /etc/mysql/conf.d/config-file.cnf    
          sudo service mysql restart  
          sleep 10s
          sudo systemctl status mysql
      - run: |
          
          mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot  -e "SELECT @@global.secure_file_priv"

   # - name: Dump GitHub context
   #   env:
   #     GITHUB_CONTEXT: ${{ toJson(github) }}
   #   run: echo "$GITHUB_CONTEXT" 
 
