name: add comment

on: 
  issues:
    types: [opened]
  pull_request:
 
jobs:

  job2:
    runs-on: ubuntu-latest
    steps:
    - run: echo $issue_context
      env: 
        issue_context: ${{ tojson(github.event) }}
    - name: Create comment for issue
      if: github.event_name == 'issue'
      uses: peter-evans/create-or-update-comment@v1
      with:
        issue-number: ${{tojson(github.event.issue.number)}}
        body: |
            @${{ github.actor }} just so you are aware we have a dedicated Working Group for the network.
    - name: Create comment for PR
      if: github.event_name == 'pull_request'
      uses: peter-evans/create-or-update-comment@v1
      with:
        issue-number: ${{tojson(github.event.number)}}
        body: |
            @${{ github.actor }} just so you are aware we have a dedicated Working Group for the network.
   # - run: echo $SECRET1 &  az webapp config appsettings set --settings WEBSITE_NODE_DEFAULT_VERSION=$SECRET1 
   #  env: 
     #   SECRET1: ${{secrets.SECRET1}}
      
         
     
