name: update status

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |

        sudo apt-get install ssh
        ssh -vvv localhost -p 22
   # - run: |
    #    ssh runner@localhost -p 22 -t
  
